@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --col-hover: rgba(32, 59, 232);
    --transition: all .2s ease;
}
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    width: 75px;
    height: 100vh;
    background-color: #fff;
    padding: 8px 16px;
    z-index: 100;
    transition: var(--transition);
}

.sidebar.expand{
    width: 250px;
    transition: var(--transition);
}

.nav-header{
    height: 60px;
    display: flex;
    align-items: center;
    position: relative;
}

.nav-header .logo{
    color: #000;
    font-size: 23px;
    font-weight: 600;
    opacity: 0;
    transition: var(--transition);
}

.sidebar.expand .nav-header .logo{
    opacity: 1;
    transition: var(--transition);
}

.nav-header .btn-menu{
    position: absolute;
    right: 0;
    top: 50%;
    color: #000;
    font-size: 23px;
    transform: translateY(-50%);
    cursor: pointer;
    margin-right: 10px;
}

.sidebar.expand .nav-header .btn-menu{
    margin-right: 0;
}

.nav-links{
    margin-top: 20px;
    height: 100%;
}
.nav-links li{
    position: relative;
    margin: 8px 0;
    list-style: none;
}
.nav-links li i{
    color: #000;
    height: 50px;
    min-width: 50px;
    font-size: 23px;
    text-align: center;
    line-height: 50px;
}
.nav-links li:hover i{
    color:#fff
}

.sidebar li .tooltip{
    position: absolute;
    top: -20px;
    left: calc(100% + 15px);
    z-index: 3;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    padding: 6px 14px;
    font-size: 15px;
    white-space: nowrap;
    border-radius: 3px;
    opacity: 0;
    pointer-events: none;
    transition: 0s;
}

.sidebar li:hover .tooltip{
    opacity: 1;
    pointer-events: auto;
    transition: var(--transition);
    top: 50%;
    transform: translateY(-50%);
}

.sidebar.expand .tooltip{
    display: none;
}

.nav-links input{
    font-size: 14px;
    font-weight: 400;
    color: #000;
    height: 40px;
    width: 50%;
    outline: none;
    background-color: #ccc;
    border: none;
    border-radius: 12px;
    padding: 0;

}

.sidebar.expand .nav-links input{
    width: 100%;
    padding: 0 20px 0 40px;

}

.nav-links .search-btn{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-24px);
    font-size: 23px;
    color: #000;
    background-color: #fff;
    border-radius: 12px;
    transition: var(--transition);
}

.sidebar.expand .nav-links .search-btn{
    background-color: transparent;
    transition: var(--transition);
}

.nav-links .search-btn:hover{
    background-color: var(--col-hover);
}

.nav-links li a{
    display: flex;
    height: 100%;
    width: 100%;
    border-radius: 12px;
    align-items: center;
    text-decoration: none;
    background-color: #fff;
}
.nav-links li:hover a{
    background-color: var(--col-hover);
}
.nav-links li a .title{
    color: #000;
    font-size: 15px;
    font-weight: 400;
    white-space: nowrap;
    display: none;
    transition: var(--transition);
}

.sidebar.expand .nav-links li a .title{
    display: block;
    transition: var(--transition);
}

.nav-links li:hover a .title{
    color: #fff;
}

.theme-wrapper{
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    height: 60px;
    width: 250px;
    padding: 8px 16px;
}
.theme-wrapper .theme-icon{
    font-size: 23px;
    color: #000;
    display: none;
    transition: var(--transition);
}

.sidebar.expand .theme-wrapper .theme-icon{
    display: block;
}

.theme-wrapper p{
    font-size: 16px;
    color: #000;
    font-weight: 400;
    display: none;
    transition: var(--transition);
}

.sidebar.expand .theme-wrapper p{
    display: block;  
}

.theme-wrapper .theme-btn{
    height: 20px;
    width: 40px;
    background-color: #ccc;
    position: relative;
    border-radius: 30px;
}
.theme-wrapper .theme-btn .theme-ball{
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: #000;
    border-radius: 50%;
    top: 2px;
    left: 3px;
}

.home{
    position: relative;
    top: 0;
    left: 78px;
    width: calc(100% - 78px);
    min-height: 100vh;
    background-color: #ccc;
    z-index: 6;
    transition: var(--transition);
}
.sidebar.expand ~ .home{
    left: 250px;
    width: calc(100% - 250px);
    transition: var(--transition);
}

.home p{
    font-size: 20px;
    font-weight: 500;
    color: #000;
    display: inline-block;
    margin: 20px;
    white-space: nowrap;
}